.jClever {
    margin: 0px;
    padding: 0px;
    font-family: Arial;
}
.jClever label {
    color: grey;
}
.jClever .hidden {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    
}
.jClever-element {
    outline: none;
    margin: 5px 5px 5px 10px;
    font-family: Arial;
    font-size: 12px;
    color: #ccc;
    position: relative;
}
.jClever-element.error {
}
.jClever-element * {
    outline: none;
}
.focused .jClever-element-select-center {
    
    color: #393939;
}
.focused .jClever-element-checkbox-twins {
    -moz-box-shadow: inset 0 0 5px #000; /* Для Firefox */
    -webkit-box-shadow: inset 0 0 5px #000; /* Для Safari и Chrome */
    box-shadow: inset 0 0 5px #000; /* Параметры тени */
}
.focused .jClever-element-radio-twins {
    -moz-box-shadow: inset 0 0 5px #000; /* Для Firefox */
    -webkit-box-shadow: inset 0 0 5px #000; /* Для Safari и Chrome */
    box-shadow: inset 0 0 5px #000; /* Параметры тени */
}


.row {
    vertical-align: middle;
}
.row>label {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;
}
.row>.jClever-element {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    vertical-align: middle;    
}

/*
 *
 *   SELECT
 *
 */ 
.jClever-element-select-wrapper {
    position: relative;
    min-width: 177px!important;
    border: 1px solid #d2d2d2;
    cursor: pointer;
    height: 24px;
	background:#fff;
}
.jClever-element-select-wrapper select {
    display: none;
}
.jClever-element-select-center {
    white-space: nowrap;
	color: #393939;
    overflow: hidden;
    display: block;
    line-height: 25px;
    padding: 0 4px 0 12px;
}

.jClever-element-select-right {
    position: absolute;
    right: 0px;
    top: 0px;
    background: url('../images/select_list_bg.png') repeat-x;
    height: 20px;
    width: 20px;
	border:1px solid #bcc1c6;
    cursor: pointer;
    display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;
    text-align: center;
    font-family: Arial;
    color: #000;
    font-weight: bold;
    line-height: 20px;
	margin:1px 1px 0 0;
}
.jClever-element-select-right span {
background:url('../images/select_arrow.png') 50% 50% no-repeat;
display:block;
text-indent:-1000px;
width:20px;
height:20px;
overflow:hidden;
}
.jClever-element-select-list-wrapper {
    position: absolute;
    border: 1px solid #d2d2d2;
    border-top: 0px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    top: 24px;
    left: -1px;
    background: #fff;
    display: none;

}
.jClever-element-select-list {
    white-space: nowrap;
    padding: 0px;
    margin: 0px;
}
.jClever-element-select-list>li {
    padding: 10px 12px 8px;
    margin: 0px 0;
	border-top:1px solid #bcc1c6;
	
}
.jClever-element-select-list>li.active {
    font-weight: bold;
}
.jClever-element-select-list>li:hover, .jClever-element-select-list>li.selected {
    background: #f5f6f7;
   
}
.jClever-element-select-list>li>span {
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
    height: 100%;
    white-space: normal;
}
.jClever-element-select-list>li>span>i {
    font-style: normal;
	color:#393939;
	font-size:13px;
	
}


/*
 *
 *   CHECKBOX
 *
 */

.jClever-element-checkbox-twins {
    display: block;
    width: 15px;
    height: 15px;
    background: url(../images/checkbox.png) no-repeat left bottom;
}
.jClever-element-checkbox-twins.checked {
    background-position: left top;
}


/*
 *
 *   RADIO
 *
 */

.jClever-element-radio-twins {
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/radio.png) no-repeat left bottom;
}
.jClever-element-radio-twins.checked {
    background-position: left top;
}

/*
 *
 *   BUTTON
 *
 */
button.styled {
    background: none;
    border: 0px;
    padding: 0px;
    margin: 0px;
    cursor: pointer;
}
button.styled>span {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    border: 1px solid #c0c0c0;    
}
button.styled:hover>span {
    background: #c0c0c0;
    color: #fff;
}
button.styled>span>span {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
    padding: 5px 15px;
}
/*
 *
 *   input`s
 *
 */
.input-type-text {
    border: 1px solid #c0c0c0;
    line-height: 20px;
    padding: 0 4px;
    color: #c0c0c0;
} 

/*
 *
 *   textarea`s
 *
 */
form.jClever textarea {
    border: 1px solid #c0c0c0;
    padding: 0 4px;
    color: #c0c0c0;
    resize: none;
} 


/*
 *
 *   file input
 *
 */
.jClever-element-file {
    width: 300px;
    height: 27px;
    overflow: hidden;
} 
.jClever-element .hidden-file {
    opacity: 0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    left: 0px;
    width: 300px;
    padding: 0px;
    line-height: 20px;
    height: 25px;
    line-height: 25px;
    margin-left: -218px;
    font-size: 20px;
}
.jClever-element .jClever-element-file-name {
    display: block;
    width: 198px;
    height: 25px;
    float: left;
    border-bottom: 1px solid #c0c0c0;
    line-height: 25px;
    overflow: hidden;
    background: url(../images/file-input.png) repeat-y right top;
}

.jClever-element .jClever-element-file-button {
    display: block;
    width: 100px;
    height: 25px;
    float: left;
    background: url(../images/file.png) no-repeat left top;
    margin: 3px 0 0 0;
}
.input-file-helper {
    width: 100px;
    height: 25px;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
}

.jClever-element.focused .jClever-element-file-name {
    -moz-box-shadow: inset 0 0 5px #000; /* Для Firefox */
    -webkit-box-shadow: inset 0 0 5px #000; /* Для Safari и Chrome */
    box-shadow: inset 0 0 5px #000; /* Параметры тени */
}

.jClever-error-label {
    position: absolute;
    left: 0px;
    top: 0px;
    margin-left: 100%;
    color: #fff;
    width: 100%;
    padding: 5px;
    background: #EA1010;
    display: none;
}
.jClever-element.error .jClever-error-label {
    display:-moz-inline-box; display:inline-block; *zoom: 1; *display:inline;
}
