﻿﻿html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
menu, article, section, nav, footer, figure, var {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	font-weight:normal;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
  display:block;
}
body {
	line-height: 1;
}

ol, ul, menu{
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

:focus {
	outline: 0;
}

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
html {
	overflow-y: scroll;
	font-size: 100.01%;
}
b, strong {
font-weight:bold;
}
button:hover,
input[type="submit"]:hover {
cursor:pointer;
}
a {
text-decoration:underline;
}
a:hover {
text-decoration:none;
}
var {
font-style:normal;
}

/*
Usage of border-radius
border-radius: px;
-moz-border-radius: px;
-webkit-border-radius: px;
-khtml-border-radius: px;
behavior: url('css/PIE.htc');
*/

/*
Usage of box-shadow
-webkit-box-shadow: 0px 0px 0px #;
-moz-box-shadow: 0px 0px 0px #;
box-shadow: 0px 0px 0px #;
behavior: url('css/PIE.htc');
*/
/*
IE 7 HACK
*:first-child+html {
}
*/
/*
Site prefix
b- block
с- column 
g- global
h- helpers
j- javascript
l- layouts

*/
body {
font-family:Arial, Arial, Helvetica, sans-serif;
}
p {
font-family:Arial, Arial, Helvetica, sans-serif;
}
h1 {

}
h2{
font-size:20px;
font-family:Georgia, Georgia, serif;
letter-spacing:0.2px;
}
h3 {
font-size:18px;
font-family:Georgia, Georgia, serif;
}
h4 {
font-size:14px;
}
h5 {

}
h6 {

}
/*Global*/
.g-clear_fix {
clear:both;
}
.g-mask {
width:100%;
height:100%;
background:url("../images/slider_caption.png");
position:absolute;
z-index:10000;
}
.g-modal_wrap {
position:fixed;
z-index:11000;
width:100%;
}
.g-modal{
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius:4px;
-khtml-border-radius: 4px;
margin:auto;
background: url('../images/modal_bg.jpg') repeat-x;
height:157px;
padding:9px 24px;
width:364px;
}
.g-modal p{
line-height:18px;
color:#262626;
font-size:12px;
}
.g-modal p.error {
color:#0069aa;
float:left;
width:225px;
font-style:italic;
}

.g-modal .g-modal_close {
background: url('../images/cross_icon.png') no-repeat;
width:10px;
height:11px;
display:block;
float:right;
margin:0 -12px 0 0px;
}
.g-modal h4 {
line-height:18px;
font-weight:bold;
font-family:Arial, Arial, Helvetica, sans-serif;
color:#262626;
float:left;
margin:8px 0 7px 0;
}
.g-modal form {
margin:8px 0 0 0;
}
.g-modal input {
border: medium none;
    color: #5B5B5B;
    height: 23px;
    line-height: 21px;
    padding: 0 7px;
    width: 192px;
}
.g-modal button {
margin:0 0 0 21px;
}
*:first-child+html .g-modal input {
float:left;
margin:1px 0 0 0;
}
.g-modal footer {
margin:6px 0 0 0;
}
.g-modal footer a {
color: #0069AA;
    display: block;
    float: right;
    font-size: 12px;
    line-height: 18px;
    margin: 0 22px 0 0;
}

*:first-child+html .g-modal footer a {
width:111px;
}
/*Site header*/
.g-header {
background: #fff;
width:100%;
}
.g-header_top_wrap {

}
.g-header_top {
height:70px;

}

.g-header_top_left {
float:left;
height:inherit;
}
.g-header_top_left img {
margin:5px 0 0 0;
}
.g-header_top_center {
float:left;
height:inherit;
margin:0 0 0 131px;
}
.g-header_top_center p {
font-size: 25px;
font-weight: bold;
letter-spacing: -4px;

}
.g-header_top_center  .header_top_center1 {
margin: 9px 0 0;
}
.g-header_top_center  .header_top_center1 {
margin: 9px 0 0;
}
.g-header_top_center img {
margin: 10px 0 0 0;
}
.g-header_top_right {
float:right;
height:inherit;
}
.g-header_mid_wrap {
background:#035da2;
width:100%;
height:134px;
}
.g-header_mid{
background: url('../images/header_bg.png') no-repeat;
height:inherit;

}
*:first-child+html  .g-header_mid{
height:134px;
clear:both;
}
.g-site_width {
width:982px;
margin:auto;
}
.g-logo {
float:left;
margin:26px 0 0 0;
}
.g-slogan {
float:left;
min-width:200px;
margin:41px 0 0 27px;
}
.g-slogan p {
color:#fff;
font-size: 14px;
line-height: 15px;
}
.g-login {
float:left;
margin:20px 0 0 20px;
}
.g-login p {
font-family:Georgia, Georgia, serif;
font-size:16px;
color:#fff;
margin:0 0 8px 0;
}
.g-login_links {
color:#0069aa;
width:179px;
background: url('../images/enter_bg.png') repeat-x;
height:30px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;
}
.g-login_links a {
color:#0069aa;
line-height:17px;
font-size:13px;
display:block;
float:left;
margin:4px 0 0 10px;
}
.g-login_links span{
background:#a0abb7;
width:1px;
height:14px;
display:block;
float:left;
}
.g-login_links span.guest_separator { margin: 6px 6px 0 15px; }
.g-login_links span.logged_separator { margin: 6px 0 0 11px; }

.g-login_links img{
margin:6px 0 0 8px;
float:left;
}
.g-search {
float:right;
margin:44px 0 0 0;
}
.g-search a.search_dropdown {
display:block;
margin:2px 0px 0 10px;
position:absolute;
z-index:15;
}
*:first-child+html .g-search a.search_dropdown{
margin:12px 0 0 -220px !important;
}
.g-search a img {

}
.g-search input {
background:#00406f;

border: 1px solid #002F51;
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 25px;
    padding: 0 23px;
    position: relative;
    width: 182px;
	z-index:10;
	line-height:25px;
border-radius: 25px;
-moz-border-radius: 25px;
-webkit-border-radius: 25px;
-khtml-border-radius: 25px;
behavior: url('css/PIE.htc');
}
.g-search button {
background: url('../images/search_icon.png') no-repeat;
height:17px;
width:16px;
float:left;
position:relative;
border:none;
z-index:15;
margin:6px 0 0 -24px;
}
.g-search_advance {
background:#d9dee5;
 margin: -14px 0 0;
    padding: 0px 3px 3px;
    position: absolute;
    width: 224px;
    z-index: 5;

}
.g-search_advance nav {
border:1px solid #bac4cf;
padding:19px 0 0 0;
border-bottom:none;
}
.g-search_advance nav a {
display:block;
width:178px;
color:#393939;
font-size:12px;
line-height:24px;
text-decoration:none;
padding:0 22px;
border-bottom:1px solid #bac4cf;
}
.g-search_advance nav a:hover {
background:#047fc2;
color:#fff;
}
.g-main_menu_wrap {
background: url('../images/main_menu_bg.png') repeat-x;
width:100%;
border-top:1px solid #fff;
height:38px;
}
.g-main_menu {

}
.g-main_menu li {
float:left;
background: url('../images/main_menu_line.png') right center no-repeat;
}
.g-main_menu a {
color:#000;
font-family:Arial, Arial, Helvetica, sans-serif;
line-height:18px;
font-size:13px;
text-decoration:none;
display:block;
padding:9px 14px 0 14px;
background: url('../images/main_menu_bg_hover.png') repeat-x 0 100px;
height:26px;
}
.g-main_menu a:hover {
background-position:0 0;
border-left:1px solid #fff;
border-right:1px solid #fff;
margin:0 -1px;
}
.g-footer_wrap {
border-top:1px solid #bebebe;
background:#e3e3e3;
height:190px;
margin:20px 0 0 0;
}
.g-footer {

}
.g-footer_mailer {
float:left;
}
.g-footer_mailer h3{
margin:16px 0 6px;
}
.g-footer_mailer input {
color:#777777;
border-top:1px solid #9ba0a7;
border-left:1px solid #9ba0a7;
border-right:1px solid #9ba0a7;
border-bottom:1px solid #d0d7e0;
font-size:12px;
height:21px;
padding: 0 10px;
width: 284px;
line-height:21px;
}
.g-footer_mailer button {
margin:0 0 0 8px;
padding:0 7px;
}
.g-footer_mailer p {
font-size:11px;
color:#777777;
line-height: 12px;
margin: 35px 0 0;
}
.g-footer_menu {
float:left;
border-left:1px solid #b9bfc7;
margin: 12px 41px 0 20px;
padding: 0 0 0 15px;
}
.g-footer_menu_margin {
margin: 12px 0px 0 20px;
}
.g-footer li {

}

.g-footer li a {
color:#000000;
text-decoration:none;
font-size:13px;
line-height:24px;
}
.g-footer li a:hover{
color:#0069aa;
}
.g-footer_soc {
margin:7px 0 0 38px;
float:left;
}

.g-footer_soc img {
float: left;
margin: 10px 13px 0 0;
}
.*:first-child+html  {
margin: 10px 13px 0 0;
}
.g-footer_soc li {
line-height:32px;
font-size:12px;
margin:0 0 -1px 0;
clear:both;
}
.*:first-child+html .g-footer_soc li {
line-height:14px !important;
height:20px;
}
.g-footer_soc li a {
line-height:32px;
font-size:12px;
}
.*:first-child+html .g-footer_soc li a {
display:block;
float:left;
line-height:14px !important;
}
/*Helpers*/
.h-last {
background:none!important;
border:none!important;
}
.h-main_menu_last {
background:none!important;
}
.h-main_menu_last a {
padding:9px 9px 0 9px;
}
.b-reestr .h-first img{
margin:6px 9px 0 0;
}
/*Layouts*/
.l-button {
color:#0069aa;
line-height:17px;
font-size:13px;
background: url('../images/button_bg.png') repeat-x;
height:26px;
border:1px solid #bcc0c5;
color:#000000;
text-shadow:#fff 2px 2px 2px;
border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
-khtml-border-radius: 3px;

padding:0 5px;
}
.l-button:hover {
background-position: 0 -24px;
}
/*BreadCrumbs*/
.l-breadcrumbs a,  .l-breadcrumbs span{
font-family:Georgia, Georgia, serif;
font-size:12px;
line-height: 18px;
}
.l-breadcrumbs a {
color:#0069aa;
}
.l-breadcrumbs span{
color:#777
}
.l-breadcrumbs img {
margin:0px 10px 0 13px;
}
/*Right column blocks*/
.l-right {
border:1px solid #cfd6df;
width:100%;
margin:0 0 22px 0;
}
.l-right header {
border:1px solid #fff;
background: url('../images/l-right_head.jpg') repeat-x #c9d1da;
padding:5px 11px 10px;

}
.l-right h3 {
text-shadow:#fff 1px 1px 1px;
float:left;
margin:2px 0 0 0;
}
.l-right header .l-view_all{
float:right;
margin:2px 0 0 0;
}
.l-right_content {
padding:7px 11px 10px;
}
/*Usage
<div class = "l-right">
	<header>
		<h3></h3>
		<div class = "g-clear_fix"></div>
	</header>
	<section class = "l-right_content">
	</section>
</div>
*/
.l-view_more_text {

}
.l-view_more_text p {

}
.l-view_more_text a {

}
.l-view_more_text img {
float: none;
margin: 0 0 0 4px;
}
/*Usage
<section class = "l-view_more_text">
	<p>
		<a href = "">
			<img src = "images/more_arrow.png"/>
		</a>
	</p>
	
</section>
*/
.l-view_all img{
float:left;
margin:4px 5px 0 0;
}
.l-view_all a {
color:#0069aa;
font-size:13px;
line-height:18px;
}
.l-date {
color:#777777;
font-size:12px;
line-height:18px;
font-style:italic;
}
.l-p_with_img {
color:#777777;
font-size:12px;
line-height:18px;
font-style:italic;
}
.l-p_with_img img {
float:left;
margin:3px 6px 0 0;
}
.l-page_back {

}
.l-page_back a, .l-page_registr a {
color:#0069aa;
font-size:13px;
line-height:18px;

}
.l-page_back img {

}
.l-page_registr img {

}
/*Columns*/
.c-left_column {
float:left;
width:732px;
margin:43px 0 0 0;
}
.c-left_column h3 {
border-bottom: 2px solid #010101;
margin: 18px 0 0;
padding: 0 0 8px;
}
.c-right_column {
float:right;
width:230px;
margin:33px 2px 0 0;
}
/*Reestr*/
.b-reestr {
background: url('../images/reestr_bg_content.png') #e8ebf0 repeat-x;
}
.b-reestr a, .b-reestr span {
color:#0069aa;
font-size:14px;
text-decoration:none;
line-height:24px;
letter-spacing:-0.15px;
}
.b-reestr span {
font-weight:bold;
}
.b-reestr li {

}
.b-reestr a:hover {
text-decoration:underline;
}
.b-reestr img {
margin:6px 12px 0 0;
float:left;
}
/*Question*/
.b-question {
border:1px dashed #cfd6df;
margin:19px 0 33px 0;
}
.b-question textarea{
resize: none;
border:1px solid #cfd6df;
background:#f6f7f9;
color:#262626;
font-size:12px;
line-height:18px;
font-family:Arial, Arial, Helvetica, sans-serif;
width:195px;
height:67px;
padding:0px 0 0 11px;
margin:0 0 18px 0;
}
.b-question header {
background:none;
border:none;
margin:3px 0 0 0;
}
.b-question  .l-button {
float:right;
}
.b-question .l-right_content {
margin:-11px 0 0 0;
}
.b-question_ask {
float:left;
position:relative;
margin:5px 0 0 0;
}
.b-question_ask a {
color:#0069aa;
font-size:12px;
line-height:18px;
}
.b-question_ask img {
float:left;
margin:2px 6px 0 0px;
}
/*FROM HERE*/
.b-question_list .b-news_list {
margin: 28px 0 0;
padding: 0 0 38px;
}
.b-question_list .b-news_list article {
width: 100%;
}
.b-news .b-news_list .b-tags{
margin: 0 0 13px 21px;
}
.b-question_list a.question_text {
color: #262626;
    font-size: 14px;
    line-height: 18px;
    margin: 8px 0 0;
text-decoration:none;
}
.b-question_list a.question_text:hover {
text-decoration: underline;
}
.c-left_column .b-question_search {
float: left;
    margin: 25px 0 7px;
    width: 100%;
}
.b-question_search .search_filters input{
width: 364px;
}

.b-question_search .search_filters {
background:none;
border:none;
float: left;
    margin: 9px 0 0;
    padding: 0;
    width: 100%;
}
.b-question_search .search_filters .b-question_search_select {

}
.b-question_search .jClever-element {
margin: 0 0 0 51px;
}
*:first-child+html .b-question_search .jClever-element {
margin: 0 0 0 35px !important;
float:right;
}
.b-question_search .jClever-element-select-wrapper {
min-width: 204px !important;

}
.b-question_search .jClever-element-select-list {

}

.b-question_search .jClever-element-select-list-wrapper {
border-bottom: 1px solid #949fad;
border-radius: 0 4px;
-moz-border-radius: 0 4px;
-webkit-border-radius: 0 4px;
-khtml-border-radius: 0 4px;

}
.b-question_search .jClever-element-select-list > li {
border:none;
}
.b-question_search  .jClever-element-select-list {
background: url('../images/question_drop_bg.jpg') repeat-x #d4d9e0;
}
.b-question_search .jClever-element-select-list > li:hover, .b-question_search .jClever-element-select-list > li.selected {
background: url('../images/question_bg_hover.jpg') repeat-x center center;

}
/*TO HERE*/
.b-hint {
position:absolute;
z-index:20;
display:none;
margin:16px 0 0 0;
}
*:first-child+html .b-hint {
margin:9px 0 0 -17px;
}

.b-hint header {
background: url('../images/hint_top.png') top left no-repeat;
width: 14px;
height:13px;
margin:-3px 0 0 3px;
position:relative;
z-index:25;

}

.b-hint section {
background: none repeat scroll 0 0 #F4F6F8;
margin: -15px 0 0 -24px;
padding: 14px 16px;
width: 207px;
border-radius: 4px;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
-khtml-border-radius: 4px;
-webkit-box-shadow: 2px 2px 4px #000000;
-moz-box-shadow: 2px 2px 4px #000000;
box-shadow: 2px 2px 4px #000000;
behavior: url('css/PIE.htc');
position:relative;
z-index:23;
}
*:first-child+html  .b-hint header {
margin:0px 0 -15px 3px;
}
.b-hint p {
color:#2b2b2b;
font-size:12px;
line-height:18px;
}
/*Rss*/
.b-rss {
border:none;

}
.b-rss header {
background:none;
padding:5px 0px 0 11px;
}
.b-rss .l-view_all {

}
.b-rss header .l-view_all img {
margin:2px 5px 0 0;
}
.b-rss .l-right_content {
padding:7px 11px 9px 0;
border-bottom: 2px solid #010101;
margin:0 0px 0 11px;
}
.b-rss p.error {
 color: #0069AA;
    float: left;
    font-size: 12px;
    font-style: italic;
    letter-spacing: -0.4px;
    line-height: 18px;
    margin: 3px 0 0 9px;
    width: 210px;
}
.b-rss header .l-view_all a {
color:#000000;
text-decoration:none;
line-height:22px;
}
.b-rss header .l-view_all a:hover {
text-decoration:underline;
}
.b-rss  input {
 background: #F6F7F9;
    border: 1px solid #D0D7E0;
    color: #5B5B5B;
    font-size: 12px;
    height: 23px;
    line-height: 18px;
    padding: 0 7px;
    width: 156px;
}
.b-rss button {
float: right;
    height: 25px;
    margin: 0 -11px 0 0;
    padding: 0 8px;
}
/*Events*/
.b-right_event .l-right_content{
padding:0px;
}
.b-right_event article{
padding:7px 11px 0px;
border-top:1px solid #cfd6df;
}
.b-right_event .l-view_more_text {
margin:5px 0 0 0;
}
.b-right_event article p{
font-size:13px;
line-height:15px;
}
.b-right_event article img {
float:left;
margin:2px 16px 0 0px;
}
.b-right_event .l-view_more_text  img{
float: none;
margin: 0 0 0 4px;
}
.b-right_event time {
color:#fff;
font-size:12px;
font-weight:bold;
line-height:18px;
font-style:italic;
float:right;
margin: 0 -11px 0 0;
padding: 0 10px;
}

.right_event_date1 {
background:#2e3192;
}
.right_event_date2 {
background:#0e80ba;
}
.right_event_date3 {
background:#00406f;
}
.b-right_content_event1 {
background:url('../images/event_right_bg.png') repeat-x #cfd6df;
color:#0069aa;
border-top:none;
}
/*Whar read*/

.b-what_read li{
border-bottom:1px solid #d0d7e0;
margin: 7px 3px 0 6px;
    padding: 0 0 9px;
}
.b-what_read li a{
color:#262626;
line-height:18px;
text-decoration:none;
font-size:13px;
}
.b-what_read li a:hover{
color:#000;
text-decoration:underline;
}
.b-what_read ol {
list-style-type:decimal;
list-style-position: inside;
color:#262626;
line-height:18px;
text-decoration:none;
font-size:13px;
}
/*Close materials*/
.b-right_close {

}
.b-right_close li{
border-bottom:1px dotted #0069aa;
margin: 7px 14px 0 12px;
padding: 0 0 9px;
}
.b-right_close li a, .b-right_close li span{
color:#0069aa;
line-height:18px;
text-decoration:none;
font-size:13px;
}
.b-right_close li span{ 
margin: 0 8px 0 -7px;
position: absolute;

}
.b-right_close li a:hover {
text-decoration:underline;
}
.b-right_close .l-view_all {
float:right;
}
/*Banners*/
.b-banners {

}
.b-banners img {
margin:2px 0 0 0;
}
/*Page Docs*/
.b-docs {
margin: 28px 0;
padding: 0 0 0 21px;
}
.b-docs li {
list-style-image: url('../images/doc_icon.png');
}
.b-docs a {
color:#0069aa;
font-size:13px;
line-height:24px;
margin:0 0 0 4px;
text-decoration:none;
}
.b-docs a:hover {
text-decoration:underline;
}
/*NEW*/
.b-docs_view {
width:100%;
margin: 0 0 16px 0;
}
.b-docs_view h3 {
border-bottom: 2px solid #010101;
    margin: 31px 0 0;
    padding: 0 0 8px;
}
.b-docs_view .b-search {
margin:32px 0 0;
}
.b-docs_view .b-search  h3 {
margin: 0px;
padding:0px;
}
.b-docs_view .search_form input {
background: none;
margin: 10px 0 0;
    width: 252px;
font-size:12px;

}
.b-docs_view .search_form button {
margin:10px 43px 0 10px;
}
*:first-child+html  .b-docs_view .search_form button {
margin:10px 25px 0 10px !important;
}
.b-docs_view .search_filters label {
margin: 1px 0 -2px;
    padding: 0 0 0 13px;
}
.b-docs_view .search_filters {
background: none;
border:none;
margin: 0;
padding: 0;
}
.b-docs_view .search_filters .row {
margin:-13px 0 0;
}
.b-docs_view .b-sort_index {
margin: 23px 0 0;
}
.c-docs_view_left {
float:left;
width: 232px;
border: 1px solid #CFD6DF;
}
.c-docs_view_right {
float:right;
width: 711px;
}

.c-docs_view_left .l-right {
border:none;
margin:0px;
}
.c-docs_view_left .l-right_content {
padding: 7px 11px 3px;
}
.c-docs_view_left .l-right header {
background: #cfd6df;
padding: 13px 11px 15px;
}
.c-docs_view_left .l-right header h3 {
color: #262626;
text-shadow:none;
font-size: 15px;
}
.c-docs_view_left ul li {
list-style-image: url('../images/doc_base_icon.png');
margin: 7px 3px 13px 26px;
}
.c-docs_view_left ul li.r-doc_view1 {
list-style-image: url('../images/key_icon.png');
}

.c-docs_view_left ul li.r-doc_view2 {
list-style-image: url('../images/arhive_icon.png');
}
.c-docs_view_left ul li.r-doc_view3 {
float:left;
margin: 0px 3px 13px 26px;
}
.c-docs_view_left ul li a {
color: #262626;
font-size: 13px;
line-height: 18px;
font-family: Arial, Arial, sans-serif ;
}
.c-docs_view_left ul li.r-doc_view1 a, .c-docs_view_left ul li.r-doc_view2 a {
color: #0069aa;
}
.c-docs_view_left ul li.r-doc_view3 a {
background: url('../images/designer_die_in_hell.png');
display:block;
margin: -15px -13px 7px -36px;
padding: 15px 13px 7px 36px;
float:left;
}
.c-docs_view_right {

}
.b-view article ul.doc_list {
padding:0px;
margin:46px 0 0 0;
}
.b-view article .doc_list li {
list-style:none;
border-bottom: 1px dotted #2E3235;
float: left;
margin: 0 0 18px;
padding: 0 0 13px;
width: 100%;
}
.b-view article .doc_list li a {
display: block;
    float: right;
    width: 679px;
text-decoration:none;
    color: #0069AA;
    font-size: 13px;
    line-height: 18px;
}
.b-view article .doc_list li a:hover {
text-decoration:underline;
}
article .doc_list li img {
float:left;
margin: 0;
}
.b-docs_view_img {
float:left;
margin: 15px 15px 0 0 !important;
}
.b-docs_view_line {
float:left;
width:100%;
height:2px;
background: #333333;
margin: 4px 0;
}
/*END NEW*/
/*Page People*/
.b-people_list {
float:left;
width:100%;
margin:33px 0 0px;
border-bottom:1px solid #cfd6df;
padding: 0 0 38px;
}
.b-people_list_img {
width:170px;
height:170px;
border-radius: 85px;
-moz-border-radius: 85px;
-webkit-border-radius: 85px;
-khtml-border-radius: 85px;
behavior: url('css/PIE.htc');
overflow:hidden;
float:left;
margin:0 64px 0 0;
}
.b-people_list img {

}
.b-people_list a {
color:#010101;
text-decoration:none;
font-size:20px;
}
.b-people_list a:hover{ 
text-decoration:underline;
}
.b-people_list p {
font-size:13px;
line-height:18px;
color:#585858;
margin:18px 0 0 0;
}
.b-people .pager {
margin:22px 0 0 0;
}
/*Page News*/
.b-news {

}
.b-news_list {
float:left;
width:100%;
margin:31px 0 22px;
border-bottom:1px solid #cfd6df;
padding:0 0 16px 0;
}
.b-news_list article {
float:right;
width:499px;
}
.b-tags {
float:left;
margin:0 0 0px 21px;
}
.b-tags, .b-tags a {
color:#0069aa;
font-size:13px;
line-height:18px;
}
.b-tags  img{
float:left;
margin:3px 7px 0px 0;
}
.b-news .news_img {
float:left;
margin:4px 0px 0 0;
}
.b-news .news_title {
color:#0069aa;
font-size:14px;
line-height:18px;
font-weight:bold;
text-decoration:none;
letter-spacing:-0.15px;
}
.b-news .news_title:hover {
text-decoration:underline;
}
.b-news p {
color:#262626;
font-size:13px;
line-height:18px;
margin:8px 0 0 0;
}
.b-news .l-p_with_img {
float:right;
margin:13px 0 0 0;
}
.b-news .b-tags {
margin:0 0 16px 21px;
}
.b-news .l-date{
float:left;
}
/*Content view*/
.b-view .l-date {
float:left;
}
.b-view_tags {
border-bottom:1px solid #cfd6df;
float:left;
width:100%;
 margin: 36px 0  26px;
    padding: 0 0 5px;
}
.b-view h3 {
border:none;
margin: 15px 0 0;
padding: 0;
}
.b-view p {
margin: 20px 0 0;
}
.b-view p, .b-view ul  {
color: #262626;
    font-size: 13px;
    letter-spacing: 0.2px;
    line-height: 18px;
}
.b-view  a {
color:#0069aa;
font-size:13px;
}
.b-view ul{
margin:15px 0 0 49px;
}
.b-view ul li {
list-style-image: url('../images/view_li.png');
margin:0 0 18px 0;
}
.b-view ol {
margin:10px 0 0 61px;
}
.b-view ol li {
list-style-type:decimal;
color:#262626;
font-size:13px;
line-height:24px;
font-style:italic;
}
.b-view img {
margin: 28px 13px 0 11px;
}
.b-view .b-tags img {
margin:3px 7px 0 0;
}
.b-view .view_img {
float:right;
margin:28px 13px 0 11px;
}
.view_margin {
margin:20px 0 0 38px !important;
}
.b-blockquote {
margin:21px 0 0 0;
}
.b-blockquote img {
float:left;
margin:6px 0 0 39px;
}
.b-blockquote  blockquote {
border-left:1px solid #cfd6df;
color:#585858;
font-size: 13px;
letter-spacing: 0.2px;
line-height: 18px;
float:right;
padding: 0 0 0 16px;
    width: 626px;
}
.b-view_soc_share {
border-top:1px solid #cfd6df;
border-bottom:1px solid #cfd6df;
margin: 35px 0 0;
    padding: 18px 0;
}
.b-view_soc_share img {
float:left;
}
.b-view_soc_share .l-p_with_img {
float:right;
}
/*Question-answer page*/
.b-ask {
float:left;
margin:31px 0 0 0;
width:447px;
}
.b-ask .question_word{
color:#262626;
font-size:14px;
line-height:18px;
}
.b-ask .l-page_back {
float:right;
}
*:first-child+html .b-ask .l-page_back {
margin:-18px 0 0 0;
}
.b-ask time {
margin:0 0 0 9px;
}
.b-ask article {
background:#bed8e4;
margin:19px 0 0 0;
padding:15px 21px 1px;
}
.b-ask article p, .b-answer article p{
font-size:13px;
line-height:18px;
margin:0 0 18px 0;
}

.b-ask article header {
background:url('../images/ask_top.png') no-repeat;
width:20px;
height:16px;
margin:-31px 0 0 9px;
position:absolute;
}
.b-answer {
width:594px;
margin:33px 0 0 0;
float:right;
}
.b-answer .answer_word{
color:#262626;
font-size:14px;
line-height:18px;
float:right;
}
.b-answer  time {
float:right;
margin:0 0 0 13px;
}
.b-answer article {
background:#eaedf1;
margin:20px 0 0 0;
padding:19px 19px 1px 19px;
}
*:first-child+html  .b-answer article{
margin:40px 0 0 0;
}
.b-answer article header {
background:url('../images/ask_top2.png') no-repeat;
width:20px;
height:16px;
margin:-34px 0 0 524px;
position:absolute;
}
.b-answer article ul  {
padding:0 15px 0 18px;
}
.b-answer article ul li {
border-bottom:1px dotted #2e3235;
float:left;
width:523px;
padding:0 0 13px;
margin:0 0 18px 0;
}
.b-answer a {
color:#0069aa;
font-size:13px;
line-height:18px;
}
.b-answer ul li a {
display:block;
width:490px;
float:right;
}
.b-answer article ul li img {
float:left;
}
.b-ask_form {
border-top:1px solid #cfd6df;
margin:69px 0 0 0;
padding:28px 0 0 0;
float:left;
width:100%;
}
.b-ask_form h3 {
border:none;
float:left;
margin:0px;
}
.b-ask_form  .l-page_registr {
float:right;
margin:2px 0 0 0;
letter-spacing:0.2px;
}
.b-ask_form form {
background:#eaedf1;
padding:16px 16px ;
margin:14px 0 17px;
}
.b-ask_form  textarea {
background:#fff;
border:1px solid #d0d7e0;
width:99.6%;
height:138px;
}
.b-ask_form  button {
margin:7px 0 0 0;
}
.b-ask_form p {
font-size:12px;
line-height:18px;
color:#262626;
}
/*REESTR PAGE*/
.b-reestr_info {
margin:35px 0 0;
}
.b-reestr_info article {
float:right;
padding: 10px 18px;
width: 483px;
background:#eaedf1;
}
.b-reestr_contacts_icons b {
background:#047ec1;
}
.b-reestr_info p {
font-size:12px;
line-height:24px;
color:#262626;
}
.b-reestr_info a {
color:#0069aa;
}
.b-reestr_info img {
float:left;
margin:5px 0 0 21px;
}
.b-reestr_contacts {
margin:24px 0 0;
float:left;
width:100%;
}
.b-reestr_contacts h3 {
color:#262626;
border:none;
float:left;
margin:0px;
}
.b-reestr_contacts_icons {
float:right;
}
.b-reestr_contacts_icons .l-p_with_img {
float:left;
margin:0 0 0 18px;
letter-spacing: -0.3px;
margin: 0 0 0 23px;
}
.b-reestr_contacts_icons b {
background:#047ec1;
line-height: 22px;
margin: -3px 0 0 5px;
color:#fff;
float:right;
padding:0 8px;
text-decoration:underline;
font-size:14px;
}
*:first-child+html  .b-reestr_contacts_icons b {

margin:-3px 0 0 0;
}

.reestr_contacts_icons1 img {
margin:0px 4px;
}
.reestr_contacts_icons1 span {
float:left;
}
*:first-child+html .reestr_contacts_icons1{
width:144px;
}
.b-reestr_contacts article {
color:#262626;
line-height:18px;
font-size:12px;
border-top:1px solid #d0d7e0;
margin: 2px 0 0;
padding: 11px 0 0;
}
.b-reestr_contacts article a {
color:#0069aa;
}
.b-opinion {
margin:55px 0 0 0;
border-top:1px solid #d0d7e0;
float:left;
width:100%;
}
.b-opinion h3 {
border: none;
margin: 25px 0 15px;
padding: 0;
}
.b-opinion article header {
color:#262626;
font-size:14px;
line-height:18px;
}
.b-opinion article header time {
margin:0 0 0 10px;
}
.b-opinion article{
margin:0 0 20px 0;
}
.b-opinion .opinion_top {
background:url('../images/opinion_top.png') no-repeat;
width:20px;
height:16px;
margin:4px 0 0 41px;
position:absolute;
}
.b-opinion p{
 background: none repeat scroll 0 0 #EAEDF1;
    font-size: 13px;
    letter-spacing: 0.15px;
    line-height: 18px;
    margin: 19px 0 0 14px;
    padding: 15px 21px 20px;
}
/*PAGE SEARCH*/
.b-search {
margin:25px 0 0;
}
.search_form input{
background: none repeat scroll 0 0 #F6F7F9;
float: left;
height: 25px;
line-height: 25px;
margin: 0 14px 0 0;
padding: 0 9px;
width: 459px;
}
.search_form button {
padding:0 13px;
float:left;
}
.search_form .l-view_all {
float:right;
margin:5px 0 0 0;
}
.b-search h3 {
border:none;
margin:0 0 9px 0px;
padding:0px;
}
.b-search input {
border: 1px solid #D0D7E0;
}
.b-search input:hover {
border:1px solid #2f83b8;
}

.search_filters {
background:#eaedf1;
border:1px solid #d0d7e0;
margin: 28px 0 0;
padding: 17px 12px;
}
.search_filters .row {
float:left
}
.search_filters input {
font-size:12px;
line-height:25px;
 padding: 0 9px;
color:#5b5b5b;
height:25px;

}
.search_filters select {

font-size:12px;
line-height:25px;
color:#5b5b5b;
height:25px;
}
.search_filters label {
color:#262626;
font-size:12px;
line-height:18px;
display:block;
}
.b-search_filter1 {

}
.b-search_filters_sep {
float: left;
margin: 13px 0 0;
width: 100%;
}
.b-search_filter1 input {
letter-spacing: -0.15px;
width: 399px;
}
.b-search_filter2 {
margin:0 0 0 42px;
}
.b-search_filter2 input {
width:224px;
}
*:first-child+html .b-search_filter2 input {
width:224px !important;
margin:0 0 0 -44px;
}
.b-search_filter3 {
color:#262626;
font-size:12px;
line-height:18px;
}

*:first-child+html .b-search_filter3 span {
margin:-15px 0 0 0;
}
.b-search_filter3 input {
width: 43px;
}
.b-search_filter4{
margin:0 0 0 43px;
}

.b-search_filter4 .jClever-element {
margin:0px;
width:177px;
}
.b-search_filter5 {
margin:0 0 0 44px;
}
.b-search_filter5 .jClever-element {
margin:0px;
width:177px;
}
.b-search_filter6 {
margin:20px 0 0 45px;
}
.b-search_filter6 button {
padding:0 12px;
}
*:first-child+html .b-search_filter6{
margin:20px 0 0 25px;
}
.b-sort_index {
border-top:1px solid #cfd6df;
margin: 14px 0 0;
    padding: 10px 0 0;
}
.b-sort_index .sort_index_word{
font-family:Tahoma, Geneva, sans-serif;
font-size:12px;
line-height:18px;
margin:0 0 0 6px;
color:#616161;
}
.b-sort_index .l-page_registr{
 font-family: Tahoma,Geneva,sans-serif;
    font-size: 12px;
    letter-spacing: -0.1px;
    line-height: 18px;
    margin: 0 6px;
}
.b-sort_index .l-page_registr img {

}
.sort_table {
border:1px solid #cfd6df;
font-family: Tahoma,Geneva,sans-serif;
margin:24px 0 0 0;
}
.sort_table tbody tr:hover{
background:#eaedf1;
}
.sort_table thead td{
background:url('../images/search_table_h_bg.png') top left repeat-x #0865a4;
color:#fff;
font-weight:bold;
font-size:12px;
border:1px solid #fff;
text-align:center;
vertical-align:middle;
height:48px;
padding:0 4px
}
.sort_table tbody td {
border:1px solid #cfd6df;
color:#262626;
font-size:14px;
line-height:18px;
padding: 16px 13px;
}
.b-sort .pager {
margin:42px 0 42px 0;
}
/*Index Page*/
.b-main_news {
float: left;
    margin: 36px 0 0;
    width: 356px;
background:#e6eaee;
border:1px solid #cfd6df;
}
.b-main_news h3 {
color:#fff;
float:left;
border:none;
margin:0px;
padding:0px;
text-shadow: 1px 1px 1px #0866a5;
}
.b-main_news header {
background:url('../images/main_news_bg.png') repeat-x;
height: 28px;
    padding: 7px 13px 0 12px;
border-bottom:1px solid #cfd6df;
}
.b-main_news .l-view_all {
float:right;

}
.b-main_news .l-view_all a {
color:#fff;
text-shadow: 1px 1px 1px #0866a5;
}
.b-main_news section {
float:left;
width:332px;
border-bottom:1px solid #c7cfd9;
margin: 0 12px -9px;
    padding: 13px 0 6px;
}
.b-main_news section.h-last {
margin:0 12px 0;
}
.b-main_news p {
color:#262626;
font-size:14px;
line-height:18px;
}
.b-main_news .b-tags {
margin:23px 0 0 1px;
}
.b-main_news time {
display:block;
}
.b-main_docs {
float: right;
    margin: 36px 0 0;
    width: 338px;
border-bottom:2px solid #010101;
}
.b-main_docs header {
border-top:2px solid #010101;
border-bottom:2px solid #010101;
float:left;
padding: 6px 0;
    width: 100%;
margin:0 0 15px 0;
}
.b-main_docs time {
display:block;
margin:1px 0 0 0;
}
.b-main_docs h3 {
float:left;
border:none;
margin:0px;
padding:0px;

}
.b-main_docs .l-view_all {
float:right;
margin:1px 0 0 0;
}

.b-main_docs section {
float:left;
width:100%;
border-bottom:1px solid #c7cfd9;
margin: 0 0 4px;
    padding: 0 0 7px;
}
.b-main_docs a.doc_link, .b-main_news a.doc_link{
color:#262626;
font-size:14px;
line-height:18px;
text-decoration:none;
}
a.doc_link:hover {
text-decoration:underline;
}
.b-main_docs .b-tags {
margin:21px 0 0;
}
.b-tabs {
margin:25px 0 0 0;
float:left;
width:100%;
}
.b-tabs header {
 width: 356px;
}
.b-tabs header h3 {
float:left;
border:none;
margin:0 0 0 14px;
padding:0px;

}
.b-tabs .l-view_all {
float:right;
margin:1px 0 0 0;
}
.b-tabs #tabs {
margin:9px 0 0 0;
}
.b-tabs .ui-tabs-nav {

}
.ui-tabs-nav li{
border:1px solid #d0d7e0;
}
.ui-tabs-nav li.ui-state-active {
border-bottom:1px solid #fff;
}
.ui-tabs-nav li.ui-state-active a {
background:none;
}
.ui-tabs-nav li a {
background: url('../images/tabs_bg.jpg') repeat-x top left;
border:1px solid #fff;
display:block;
color:#262626;
font-family:Arial, Arial, Helvetica, sans-serif;
height: 19px;
font-size:13px;
    letter-spacing: 0.5px;
    line-height: 18px;
    padding: 7px 10px;
text-align: center;
    min-width: 96px;
}
.b-tabs_wrap .b-tabs_list_number{
display: block;
    float: left;
    margin: -2px 0 0 10px;
    text-align: center;
    width: 35px;
position:relative;
}
.b-tabs_wrap span.tabs_list_number {
 color: #262626;
height: 20px;
    line-height: 18px;
    margin: auto;
    padding: 2px 0 0;
    width: 23px;
	display:block;
font-size:13px;
background:#e6eaee;
position:relative;
border-radius: 30px;
-moz-border-radius: 30px;
-webkit-border-radius: 30px;
-khtml-border-radius: 30px;
behavior: url('css/PIE.htc');
}
.b-tabs_wrap  ul {
border:1px solid #d3dae2;
border-bottom:none;
width:100%;
float:left;
}
.b-tabs_wrap li {
clear:both;
border-bottom:1px solid #d3dae2;
float:left;
width:730px;
padding:14px 0 7px 0;
border-left:2px solid #fff;
}
.b-tabs_wrap li:hover {
border-left:2px solid #0c70ad;
background:#e6eaee;
}
.b-tabs_wrap a {
display:block;
float:right;
color:#262626;
font-size:13px;
line-height: 18px;
width:685px;
letter-spacing:0.15px;
text-decoration:none;
}
.b-tabs_list_number {

}
.b-main_banners {
margin:16px 0 0 0;
float:left;
width:100%;
}
.b-sro {
float:left;
width:100%;
margin:24px 0 0;
}
.b-sro h3 {
border:none;
margin:0 0 9px 14px;
padding:0px;
}
.c-sro_left {
float:left;
border-right:2px solid #333333;
width:355px;
border-top:1px solid #d3dae2;
}
.c-sro_left figure{
float: left;
    height: 109px;
    width: 109px;
overflow:hidden;
margin:13px 0 0 13px;
border-radius: 55px;
-moz-border-radius: 55px;
-webkit-border-radius: 55px;
-khtml-border-radius: 55px;
behavior: url('css/PIE.htc');
}
.c-sro_left article {
float: right;
    margin: 11px 0 0;
    padding: 0 10px 0 0;
    width: 203px;
}
.c-sro_left .sro_title {
color:#010101;
font-size:14px;
line-height:18px;
font-family:Georgia, Georgia, serif;
text-decoration:none;
}
.c-sro_left .sro_title:hover {
text-decoration:underline;
}
.c-sro_left p {
border-top: 1px dotted #777777;
    color: #777777;
    font-size: 12px;
    font-style: italic;
    line-height: 14px;
    margin: 3px 0 0;
    padding: 5px 0 0;
letter-spacing: -0.5px;
}
.c-sro_left .l-view_all {
margin:10px 0 0 0;
float:left;
width:100%;
}
.c-sro_right {
float:right;
margin: -4px 0 0;
    width: 338px;
}
.c-sro_right li {
margin:0 0 11px 0;
}
.c-sro_right li a {
line-height:17px;
font-size:14px;
color:#262626;
padding:0 9px 0 4px;
background: url('../images/sro_arrow.png') no-repeat right 5px;
}
.c-sro_right li a:hover {
background-color:#0069aa;
color:#fff;
background-position:right -38px;
}
.b-main_about {
padding:0 0 0 13px
}
.b-main_about h3 {
border-bottom: 2px solid #010101;
padding: 0 0 8px 0px;
margin:14px 0 27px;
}
.b-main_about h2 {
margin:15px 0 0;
}
.b-main_about .l-view_all {
float:right;
}
.b-main_about .l-view_all img {
margin:4px 5px 0 0;
}


/***** LOGIN PAGE *****/
#user-form input {
    margin-bottom: 10px;
}
.user_form  {
    background:#eaedf1;
    border:1px solid #d0d7e0;
    padding: 17px 12px;
    margin-top: -10px;
}

.user_form  input {
    font-size:12px;
    line-height:25px;
    padding: 0 9px;
    color:#5b5b5b;
    height:25px;
}
.user_form  label {
    color:#262626;
    font-size:12px;
    line-height:18px;
    display:block;
}

/***** COMMENTS PAGE *****/
p.comment_form_hint,
p.comment_form_hint a
{ color: #666; }

/***** COMMENTS PAGE *****/
.yashare-auto-init {
	float: left;
}
.b-share__text {
	color: #777;
	font-size: 12px;
	line-height: 18px;
	font-style: italic;
}