.pager {
font-size:0.75em;
font-family: Tahoma,Geneva,sans-serif;
color:#616161;
font-style:italic;
}
.pager p {
	float:left;
	font-family: Tahoma,Geneva,sans-serif;
color:#616161;
margin:8px 17px 0 0;
}
ul.yiiPager
{
    
    padding: 5px 0 5px;
}

ul.yiiPager *
{
    display:inline;
	margin:0 5px 0 0;
}
 
ul.yiiPager span{
    background: none;
    width:20px;
    height:19px;
    text-align: center;
    color:#262626;
    font-size: 14px;
    padding:2px 7px;
	font-style:normal;
}
 
ul.yiiPager a:link,
ul.yiiPager a:visited
{
color:#0069aa;
text-decoration:none;
font-style:normal;
line-height:18px;

  
    font-size: 14px;
    width: 20px;
    height:19px;
    text-align: center;
}
ul.yiiPager .next a:link,
ul.yiiPager .next a:visited,
ul.yiiPager .previous a:link,
ul.yiiPager .previous a:visited
{
font-size: 12px;
}
ul.yiiPager .next a:hover,
ul.yiiPager .previous a:hover {
text-decoration: underline;
}
ul.yiiPager .page a
{
    padding:1px 6px;
    font-weight:normal;
	 text-decoration: underline;
}
 
ul.yiiPager a:hover
{
    text-decoration: none;
 
}
 
ul.yiiPager .hidden a
{
    /*border:solid 1px #DEDEDE;*/
    color:#888888 !important;
    display: none;
}
 
/**
 * Hide first and last buttons by default.
 */
ul.yiiPager .first,
ul.yiiPager .last

{
    display:none;
}

ul.yiiPager li.selected a {
    color: black;
    text-decoration: none;
}
