.b-main_slider {
margin:-9px 0 0 0;
position:relative;
}
.b-main_slider .slides_container {
width:481px;
float:left;
position:relative;
z-index:30;
height:304px;
}
.b-main_slider .slides_control {
height:inherit;
}
.b-main_slider .pagination {
float:left;
width:249px;
}
.b-main_slider .pagination a {
text-decoration:none;
display:block;
height: 68px;
padding: 16px 20px;
color:#262626;
background: url('../images/slider_pag_hover.jpg') repeat-x 0 1000px #f4f6f8;
}
.b-main_slider .pagination li {
height:100px;
border:1px solid #d0d7e0;
}
.b-main_slider .pagination a:hover {
background-position:top left;
color:#0069aa;
}
.b-main_slider .pagination  p {
font-size:13px;
line-height:15px;
}
.b-main_slider .prev, .b-main_slider .next {
position:absolute;
z-index:40;
display:block;
padding:10px 11px;
background:url('../images/slider_caption.png');
}
.b-main_slider .prev {
left:0px;
top: 136px;
}
.b-main_slider .next {
left: 451px;
top: 136px;
}
.caption {
margin:-94px 0 0 0;
position:relative;
z-index:23;
width:433px;
height:82px;
background:url('../images/slider_caption.png');
padding:8px 24px 0px;
}
.caption .caption_title_link {
font-size:18px;
font-family:Georgia, Georgia, serif;
color:#fff;
display:block;
}
.caption time {
float:none;
margin:4px 0 0 0;
display:block;
}
.caption section{
height:80px;
}
.caption  .b-tags {
float:none;
margin:-20px 0 0;
}
.b-slider_pagination  {
display: block;
    left: 426px;
    position: absolute;
    top: 284px;
    z-index: 32;
}
.b-slider_pagination li {
float: left;
    height: 7px;
    margin: 0 3px;
    width: 7px;
background:#fff;

}
.b-slider_pagination li.h-selected {
background:none;
border:1px solid #0e80ba;
margin:-1px 1px;
}