/*	
Template Name: Adminus
Description: Beautiful admin panel interface
Version: 1.4.4
Author: enstyled
Author URI: http://themeforest.net/user/enstyled
*/

/* Custom fonts */
/*@import url("../fonts/titillium/stylesheet.css");*/

* {
    padding: 0;
    margin: 0;
}

body {
    background: #fbfbfb url(/images/admin/bg.jpg) 0 0 repeat;
    font-family: "Lucida Grande", Verdana, sans-serif;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    -webkit-text-size-adjust: none;
}

:focus {
    -moz-outline-style: none;
}

p {
    padding-bottom: 15px;
}

img, a img {
    border: 0;
}

ul li {
    /*list-style: none;*/
}

.clear {
    clear: both;
}

a {
    color: #008ee8;
    text-decoration: none;
    outline: none;
}

a:hover {
    color: #ec8526;
    text-decoration: none;
}

#hld {
    background: url(/images/admin/hld.jpg) 0 0 repeat-x;
    min-height: 402px;
    min-width: 1223px !important;
}

.wrapper {
    width: 90%;
    min-width: 960px;
    margin: 0 auto;
    padding-top: 20px;
    position: relative;
}

/* Header */

#header {
    height: 50px;
    line-height: 50px;
    background: url(/images/admin/hdr.gif) 0 0 repeat-x;
    color: #999;
    font-weight: bold;
    margin-bottom: 20px;
}

#header .hdrl {
    width: 20px;
    height: 50px;
    float: left;
    background: url(/images/admin/hdrl.gif) top left no-repeat;
}

#header .hdrr {
    width: 20px;
    height: 50px;
    float: right;
    background: url(/images/admin/hdrr.gif) top right no-repeat;
}

#header a {
    color: #999;
    text-decoration: none;
}

#header a:hover {
    color: #fff;
}

#header h1 {
    float: left;
    margin-right: 80px;
    font-family: "Titillium800", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #fff;
}

#header h1 a {
    color: #fff;
}

#header h1 a:hover {
    color: #008ee8;
}

/* Navigation */
#header #nav, #header #nav * {
    z-index: 20;
}

#header #nav {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: auto; /*For KHTML*/
    list-style: none;
    height: 50px;
    padding: 0;
    float: left;
}

#header #nav li {
    margin: 0;
    border: 0 none;
    padding: 0;
    float: left; /*For Gecko*/
    display: inline;
    list-style: none;
    position: relative;
    height: 50px;
    padding: 0 10px;
    background: url(/images/admin/nsp.gif) center right no-repeat;
    line-height: 50px;
}

#header #nav li.nobg {
    background: none;
}

#header #nav ul {
    margin: 0;
    border: 0 none;
    padding: 0;
    width: 190px;
    list-style: none;
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
}

#header #nav ul:after /*From IE 7 lack of compliance*/
{
    clear: both;
    display: block;
    font: 1px/0px serif;
    content: ".";
    height: 0;
    visibility: hidden;
}

#header #nav ul li {
    width: 190px;
    float: left; /*For IE 7 lack of compliance*/
    display: block ;
    display: inline; /*For IE*/
    position: relative;
    top: 0;
    height: 30px;
    line-height: 30px;
    padding: 0;
    background: none;
}

/* Root Menu */
#header #nav a {
    float: none !important;; /*For Opera*/
    float: left; /*For IE*/
    display: block;
    height: auto ;
    height: 1%; /*For IE*/
    height: 30px;
    padding: 0 10px;
}

#header #nav li.active a {
    color: #ddd;
}

#header #nav li.active a:hover {
    color: #fff;
}

#header #nav a.hasmore {
    border: 1px solid red;
}

/* Root Menu Hover Persistence */
#header #nav a:hover,
#header #nav li:hover a,
#header #nav li.iehover a {
    color: #fff;
}

/* 2nd Menu */
#header #nav li:hover li a,
#header #nav li.iehover li a {
    text-transform: none;
    padding: 0 15px;
    font-size: 11px;
    font-weight: bold;
    line-height: 30px;
    color: #999;
    background: url(/images/admin/mbg.png) 0 0 repeat;
}

/* 2nd Menu Hover Persistence */
#header #nav li:hover li a:hover,
#header #nav li:hover li:hover a,
#header #nav li.iehover li a:hover,
#header #nav li.iehover li.iehover a {
    color: #fff;
    background: #000;
}

/* 3rd Menu */
#header #nav li:hover li:hover li a,
#header #nav li.iehover li.iehover li a {
    float: none;
    color: #999;
    background: url(/images/admin/mbg.png) 0 0 repeat;
}

/* 3rd Menu Hover Persistence */
#header #nav li:hover li:hover li a:hover,
#header #nav li:hover li:hover li:hover a,
#header #nav li.iehover li.iehover li a:hover,
#header #nav li.iehover li.iehover li.iehover a {
    color: #fff;
    background: #000;
}

/* 4th Menu */
#header #nav li:hover li:hover li:hover li a,
#header #nav li.iehover li.iehover li.iehover li a {
    color: #999;
    background: url(/images/admin/mbg.png) 0 0 repeat;
}

/* 4th Menu Hover */
#header #nav li:hover li:hover li:hover li a:hover,
#header #nav li.iehover li.iehover li.iehover li a:hover {
    color: #fff;
    background: #000;
}

#header #nav ul ul,
#header #nav ul ul ul {
    display: none;
    position: absolute;
    top: 0;
    left: 190px;
}

/* Do Not Move - Must Come Before display:block for Gecko */
#header #nav li:hover ul ul,
#header #nav li:hover ul ul ul,
#header #nav li.iehover ul ul,
#header #nav li.iehover ul ul ul {
    display: none;
}

#header #nav li:hover ul,
#header #nav ul li:hover ul,
#header #nav ul ul li:hover ul,
#header #nav li.iehover ul,
#header #nav ul li.iehover ul,
#header #nav ul ul li.iehover ul {
    display: block;
}

#header .user {
    float: right;
    font-size: 11px;
}

#header .user a {
    text-decoration: underline;
}

#header .user a:hover {
    text-decoration: none;
}

/* Blocks */

.block {
    padding-bottom: 5px;
    margin-bottom: 25px;
    clear: both;
    background: #fff url(/images/admin/bnd.gif) bottom center repeat-x;
}

.block .bendl {
    width: 5px;
    height: 5px;
    background: url(/images/admin/bendl.gif) bottom left no-repeat;
    float: left;
}

.block .bendr {
    width: 5px;
    height: 5px;
    background: url(/images/admin/bendr.gif) bottom left no-repeat;
    float: right;
}

/* Block head */

.block .block_head {
    height: 54px;
    line-height: 54px;
    background: url(/images/admin/bhead.gif) 0 0 repeat-x;
    overflow: hidden;
}

.block .block_head .bheadl {
    width: 20px;
    height: 54px;
    float: left;
    background: url(/images/admin/bheadl.gif) top left no-repeat;
}

.block .block_head .bheadr {
    width: 20px;
    height: 54px;
    float: right;
    background: url(/images/admin/bheadr.gif) top right no-repeat;
}

.block .block_head h2 {
    font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
    float: left;
}

.block .block_head ul {
    float: right;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: bold;
    text-shadow: 1px 1px 0 #fff;
}

.block .block_head ul li {
    display: inline;
    padding: 3px 0;
    padding-left: 20px;
    background: url(/images/admin/phs.gif) 7px center no-repeat;
}

.block .block_head ul li.nobg {
    background: none;
}

.block .block_head ul li a {
    text-decoration: none;
    color: #666;
    outline: none;
}

.block .block_head ul li.active a {
    color: #888;
}

.block .block_head ul li a:hover {
    color: #008ee8;
}

.block .block_head form {
    float: right;
    padding: 15px 0;
    height: 34px;
    line-height: 24px;
}

.block .block_head form .text {
    width: 129px;
    height: 15px;
    padding: 5px 10px 5px 25px;
    border: 0;
    font-size: 11px;
    color: #999;
    margin: 0;
    background: url(/images/admin/srch.gif) left center no-repeat;
}

.block .block_head form .text:focus {
    color: #666;
    background: url(/images/admin/srch_.gif) left center no-repeat;
}

.block .block_head select {
    text-transform: none;
}

/* Block content */

.block .block_content {
    overflow: hidden;
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    padding: 10px 20px 0;
}

.block .block_content h1,
.block .block_content h2 {
    font-family: "Titillium999", "Trebuchet MS", Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    color: #454545;
    margin-bottom: 10px;
}

.block .block_content h3 {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.block .block_content h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #666;
    margin-bottom: 5px;
}

.block table {
    text-align: left;
    margin-bottom: 15px;
}

.block table tr.even td {
    background: #fbfbfb;
}

.block table tr td,
.block table tr th {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    line-height: normal;
    text-align: left;
}

.block table tr th.headerSortUp {
    color: #333;
    background: url(/images/admin/sortd.gif) 95% center no-repeat;
}

.block table tr th.headerSortDown {
    color: #333;
    background: url(/images/admin/sorta.gif) 95% center no-repeat;
}

.block table tr td.delete {
    text-align: right;
    font-size: 11px;
}

.block table tr td.delete a {
    color: #666;
}

.block table tr td.delete a:hover {
    color: #dd0000;
}

.red_font {
    color: #dd0000 !important;
}

.block .tableactions {
    overflow: hidden;
    padding-bottom: 20px;
    float: left;
}

.block .tableactions select {
    width: 100px;
    margin-right: 5px;
    vertical-align: middle;
    outline: none;
}

.block .pagination {
    font-size: 10px;
    font-weight: bold;
    padding-bottom: 15px;
    padding-top: 15px;
    border-top: 1px solid #eee;
}

.block .pagination.right {
    float: right;
    text-align: right;
    padding-top: 1px;
    border: 0;

    overflow: hidden;
}

.block .pagination a {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px 6px;
    margin: 0 1px;
}

.block .pagination a.active {
    background: #39a3e6;
    border: 1px solid #0082d5;
    color: #fff;
}

.block .pagination a:hover {
    color: #fff;
    background: #ec8526;
    border: 1px solid #d77011;
}

.block .block_content ul {
    padding-left: 15px;
    padding-bottom: 15px;
}

.block .block_content ol {
    padding-left: 15px;
    padding-bottom: 15px;
    list-style-position: inside;
}

.block .block_content ul.ul li {
    margin-bottom: 5px;
    padding-left: 15px;
    background: url(/images/admin/li.gif) 0 7px no-repeat;
}

.block .block_content ol li {
    margin-bottom: 5px;
}

.block hr {
    height: 1px;
    border: 0;
    background: no-repeat;
    border-bottom: 1px solid #ddd;
    margin-bottom: 15px;
}

.block .block_content .breadcrumb {
    color: #666;
    background: #f9f9f9;
    border-bottom: 1px solid #e6e6e6;
    padding: 9px 12px;
    line-height: normal;
    margin-bottom: 10px;
    font-size: 11px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

/* Small blocks */

.block.small {
    width: 49%;
    background: #fff url(/images/admin/bnd.gif) bottom center repeat-x;
    padding-bottom: 0;
}

.block.small.left {
    float: left;
    clear: none;
}

.block.small.right {
    float: right;
    clear: none;
}

.block.small .block_head {
    background: url(/images/admin/bhead.gif) 0 0 repeat-x;
}

.block.small .block_content {
    background: #fff;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.block.small .block_content input.text,
.block.small .block_content textarea {
    width: 96%;
    padding: 7px;
}

.block.small.center {
    float: none;
    margin: 0 auto;
}

/* Login block */

.block.small.center.login {
    width: 470px;
    background: #fff url(/images/admin/bnd.gif) bottom center repeat-x;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 5px;
}

/* Block sidebar */

.block.withsidebar .bendl {
    width: 191px;
    background: url(/images/admin/bendsb.gif) bottom left no-repeat;
}

.block.withsidebar .block_content {
    overflow: hidden;
    padding: 0;
    background: url(/images/admin/sidebar.gif) 0 0 repeat-y;
}

.block.withsidebar .block_content .sidebar {
    width: 190px;
    float: left;
    font-size: 11px;
}

.block.withsidebar .block_content .sidebar p {
    padding: 0 13px 15px;
    line-height: 18px;
}

.block.withsidebar .block_content .sidebar ul.sidemenu {
    padding: 0;
    margin-bottom: 10px;
}

.block.withsidebar .block_content .sidebar ul.sidemenu li {
    padding: 0;
    margin: 0;
    background: 0;
    border-bottom: 1px solid #ccc;
}

.block.withsidebar .block_content .sidebar ul.sidemenu li a {
    display: block;
    padding: 10px 13px;
    font-weight: bold;
}

.block.withsidebar .block_content .sidebar ul.sidemenu li a:hover {
    background: #fdfdfd;
    border-right: 1px solid #ccc;
}

.block.withsidebar .block_content .sidebar ul.sidemenu li.active a,
.block.withsidebar .block_content .sidebar ul.sidemenu li.active a:hover {
    background: #fff;
    border: 0;
}

.block.withsidebar .block_content .sidebar_content {
    padding: 15px 20px 15px 210px;
}

/* Image list */

.block .block_content .imglist {
    overflow: hidden;
    margin: 0;
    padding: 0;
    padding-bottom: 10px;
}

.block .block_content .imglist ul {
    padding: 0;
}

.block .block_content .imglist li {
    padding: 0;
    margin: 0;
    background: 0;
    width: 100px;
    height: 100px;
    display: block;
    float: left;
    position: relative;
    margin: 13px 17px 10px 10px;
    border: 1px solid #ccc;
    padding: 1px;
    box-shadow: 0 0 3px #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
}

.block .block_content .imglist li img {
    position: absolute;
    z-index: 1;
    width: 100px;
    height: 100px;
}

.block .block_content .imglist li ul {
    position: absolute;
    z-index: 10;
    background: url(/images/admin/imgo.gif) center no-repeat;
    width: 62px;
    height: 58px;
    left: 20px;
    top: 22px;
    display: none;
}

.block .block_content .imglist li:hover ul {
    display: block;
}

.block .block_content .imglist li ul li {
    display: block;
    width: 62px;
    height: 29px;
    text-align: center;
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.block .block_content .imglist li ul li a {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    height: 29px;
    line-height: 29px;
    text-shadow: 0 0 2px #000;
    outline: none;
}

.block .block_content .imglist li ul li.view a:hover {
    background: url(/images/admin/imgt.gif) bottom center no-repeat;
}

.block .block_content .imglist li ul li.delete a:hover {
    background: url(/images/admin/imgb.gif) top center no-repeat;
}

/* Footer */

#footer {
    margin-top: 25px;
    background: url(/images/admin/ft.gif) 0 0 repeat-x;
    padding: 10px 0 50px;
    font-size: 10px;
    color: #757575;
    clear: both;
    overflow: hidden;
}

#footer a {
    color: #757575;
    text-decoration: underline;
}

#footer a:hover {
    color: #666;
    text-decoration: none;
}

#footer .left {
    float: left;
}

#footer .right {
    float: right;
    text-align: right;
}

.pager_select {
    padding:2px;
    width: 60px !important;
    min-width:60px !important;
    height: 24px;
}

.no_borders_table tr td{
    border-bottom:0 !important;
}


fieldset {
    border: 1px solid #E0E0E0;
    margin-bottom: 20px;
    padding: 15px 30px 15px 30px;
}

fieldset .portlet-content {
    padding: 10px 15px 10px 15px;
    display:none;
}

fieldset legend {
    padding: 0 10px 0 10px;
    font-weight: bold;
    cursor:pointer;
    color: black;
}

.action_link {
    text-decoration: underline !important;
}


.grid-view a.asc{
    background: url(/images/icons/arrow_up.png) no-repeat right;
    padding-right: 14px;
}

.grid-view a.desc{
    background: url(/images/icons/arrow_down.png) no-repeat right;
    padding-right: 14px;
}


.ui-datepicker{
    width:260px;
    z-index:27 !important;
}

.placeholder{
    background: url(/images/admin/placeholder.png);
}

.sortable-list{
    margin: 0 0 20px 0;
}
.sortable-list .ui-nestedSortable-error {
    background: #fbe3e4;
    color: #8a1f11;
}

.sortable-list ul {
    margin: 0 0 0 25px !important;
    padding: 0 !important;
    padding-left: 30px;
    list-style-type: none;
}

.sortable-list li {
    margin: 7px 0 0 0;
    padding: 0;
}

.sortable-list li div {
    padding: 3px;
    margin: 0;
    position: relative;
}

.drag{
    cursor: move;
    position: absolute;
    top:6px;
    margin: 0 0 0 10px;
}

.center{
    text-align:center
}
.change_alias
{
    margin: 0 0 0 5px
}
.save_alias
{
    margin: 0 0 0 5px;
    display:none;
}
.alias_preloader{
    background: url(/images/admin/ajax-loader.gif) no-repeat;
    margin: 0 0 0 5px;
    width: 16px;
    height: 16px;
    display: none;

 }