body {
	font-family: "Trebuchet MS", Verdana, Arial, Tahoma, sans-serif;      
	font-size: 90%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: #f8f8f8;
}
p {
	margin: 10px;
	line-height: 1.5em;
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;
}
blockquote {
    overflow: hidden;
    background:url(/images/quote_big.png) no-repeat 0 0;
    padding-left: 24px;

}
blockquote p{
    padding: 5px 0 5px 12px;
    padding-left: 20px;
    margin-left: 20px;
    border-left:2px solid #a9a9a9;
    color:#868686;
    font-style:italic;
    display: block;
}
div {
	line-height: 1.5em;
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;	
	margin: 10px;
}

ul, ol {
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;
	line-height: 1.5em;
	margin: 10px;
	padding-left: 2em;	
}
ul li ul, ol li ol, ul li ol, ol li ul {
	border: none;
	margin: 2px !important;
	padding: 0;
	padding-left: 2em;		
}
dl { 
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;	
	margin: 10px;	
}
dl dt { font-weight: bold; }
dd { margin-left: 1.5em;}

table {
	background-color: #fff;
	border-collapse: collapse;
	font-size: 1em;	
	margin: 10px;
}
table td {
	border: 1px solid #ddd;
	padding: 5px;
}
table thead td {
	border-bottom: 2px solid #000 !important;
	font-weight: bold;
}
code, pre { font: 1.2em/1 "Courier New", Courier, monospace; border: 1px dashed #ccc; background: #f5f5f5;  padding: 1em; 	margin: 10px; }
pre {  line-height: 1.7em; font-size: .9em; background: #f5f5f5; overflow: auto;  }

iframe, object {
	margin: 10px;
}

.img_left {
	float: left;
	margin-right: 10px; 
	margin-bottom: 10px;
}
.img_right {
	float: right;
	margin-left: 10px; 
	margin-bottom: 10px;
}

.redactor_video_box {
	width: 300px;
	height: 200px;
	background: url(../i/video_box.png) center no-repeat #000 !important;	
	margin: 10px;
}
.redactor_video_box object, .redactor_video_box embed, .redactor_video_box iframe {
	display: none;
}

.redactor_file_link {
	padding-left: 20px;
}
.redactor_file_ico_avi 	  { background: url(../i/fileicons/avi.png) no-repeat; }
.redactor_file_ico_csv 	  { background: url(../i/fileicons/csv.png) no-repeat; }
.redactor_file_ico_doc 	  { background: url(../i/fileicons/doc.png) no-repeat; }
.redactor_file_ico_gif 	  { background: url(../i/fileicons/gif.png) no-repeat; }
.redactor_file_ico_html   { background: url(../i/fileicons/html.png) no-repeat; }
.redactor_file_ico_jpg 	  { background: url(../i/fileicons/jpg.png) no-repeat; }
.redactor_file_ico_mov	  { background: url(../i/fileicons/mov.png) no-repeat; }
.redactor_file_ico_other  { background: url(../i/fileicons/other.png) no-repeat; }
.redactor_file_ico_pdf 	  { background: url(../i/fileicons/pdf.png) no-repeat; }
.redactor_file_ico_png 	  { background: url(../i/fileicons/png.png) no-repeat; }
.redactor_file_ico_ppt 	  { background: url(../i/fileicons/ppt.png) no-repeat; }
.redactor_file_ico_rar 	  { background: url(../i/fileicons/rar.png) no-repeat; }
.redactor_file_ico_rtf 	  { background: url(../i/fileicons/rtf.png) no-repeat; }
.redactor_file_ico_txt 	  { background: url(../i/fileicons/txt.png) no-repeat; }
.redactor_file_ico_xls 	  { background: url(../i/fileicons/xls.png) no-repeat; }
.redactor_file_ico_zip 	  { background: url(../i/fileicons/zip.png) no-repeat; }


h1, h2, h3, h4,h5 {
	font-weight: normal;
	background-color: #fff;
	border: 1px solid #ebebeb;
	padding: 10px;
	margin: 10px;	
}

h1 {
	font-size: 30px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 12px;
	font-weight: bold;
}
